
	{{#if fabricator}}<!-- fabricator scripts -->
	<script src="fabricator/scripts/f.js"></script>
	<!-- /fabricator scripts -->{{/if}}

	<!-- toolkit scripts -->
	<script type="text/javascript">
		//var baseURL = "http://localhost:1234/tag/marchmadness";
		var baseURL = "toolkit/scripts/test.json",
			sponsorsBaseURL = "toolkit/scripts/ads.json";
	</script>
	<script src="toolkit/scripts/jquery.js"></script>
	<script src="toolkit/scripts/lodash.js"></script>
	<script src="toolkit/scripts/toolkit.js"></script>
	<script src="toolkit/scripts/main.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
